<tr>
  <td onmouseover="this.style.cursor='pointer';"
onclick="location.href='<%= ride_path(user_ride.ride_id) %>';"
style="cursor: pointer;" class='name'><p><%= Ride.where(id: user_ride.ride_id).first.name %></p></td>
  <td class='time'>
    <p>
      <%= form_tag "user_rides/#{user_ride.id}/rider_approve", method: 'post', class: 'rider-approve', remote: true do %>
        <%= submit_tag "I'll Go", class: 'rider-approve-submit btn btn-default' %>
      <% end %>
    </p>
  </td>
</tr>
