/*Maps*/
#map-canvas {
  clear: both;
  width: 100%;
  height: 500px;
  border: 1px solid lightgray;
}

#ride_info {
  width: 79.5%;
  padding: 1%;
  float:left;
  border: 1px solid lightgray;
}

.driver_accepted, .rider_accepted {
  width: 20%;
  height: 333px;
  float: right;
  border: 1px solid lightgray;
}

/*form*/
#start_location, #end_location {
  width: 640px;
}

/*Dashboard*/
.available {
  float: left;
  border: 1px solid lightgray;
  width: 70%;
  margin: 0;
  padding: 0;
  height: 900px;
}

.provided, .booked, .unaccepted {
  float:right;
  border: 1px solid lightgray;
  width: 29.5%;
  height: 294px;
}

.provided, .booked {
  margin-top: 9px;
}

.table_title {
  height: 30px;
  background: #F8F8F8;
  text-align: center;
  color: white;
}

.table_title h4 {
  padding: 0;
  margin: 0;
  height: inherit;
  color: #3476be;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  text-align:left;
  display: table;
  float: left;
  width: 100%;
  color: #3476be;
}
thead tr {
  display: table-row;
  width: 100%;
  background: #F8F8F8;
}
tbody {
  display: block;
  overflow: auto;
  float: left;
  width: 100%;
}
tbody tr {
  display: table;
  width: 100%;
}
tbody tr {
  height: 18px;
}
tbody td {
  padding:1px 8px;
  border-bottom: 1px solid lightgray;
}

tbody tr:hover {
  background: lightgray;
}

.available_tbody {
  height: 830px;
}

.rides_tbody {
  height: 224px;
}

.riders_tbody {
  height: 260px;
}

.name {
  width: 25%;
}

.time, .accepted-status {
  width: 20%;
}

.price {
  width: 10%;
}

.time p, .name p, .price p, .accepted-status p {
  margin: 0;
}

/*navbar*/

.navbar {
  font-size: 2em;
}

.nav-left a {
  margin-left: 20px;
}

.navbar-right {
  margin-right: 50px;
}

.navbar-right a:hover {
  text-decoration: none;
}

/*generaly formatting*/

.right-align {
  float: right;
  margin-left: 5px;
}

/*ride show*/

.notification {
  color: #3476be;
}

.btn a {
  color: white;
}

.btn a:hover {
  text-decoration: none;
  color: white;
}

.paynow {
  float: right;
}
